{{- /* Comments area start */ -}}]
<script src="https://giscus.app/client.js"
        data-repo="krymancer/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODk2Mjg3Nzk="
        data-category="Q&A"
        data-category-id="DIC_kwDOEUNia84CnSOF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="catppuccin_mocha"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}}
